
<div class="d-flex justify-content-center">
    <div class="text-center bg-light p-2 w-50 rounded-2">
        <h3 class="text-danger">@ViewBag.StatusCode</h3>
        <p class="fs-5">Something went wrong...</p>
        <p class="fs-5">Your request id: @ViewBag.RequestId</p>
        <img src="/images/error-905.svg" height="80" alt="error image" />
    </div>
</div>